<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".SantaManittoApplication"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        android:usesCleartextTraffic="true"
        tools:replace="icon, label">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Santa.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".room.manittoroom.ManittoRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".room.create.CreateRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.signin.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>